@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
* {
    padding: 0;
    margin: 0;
}
.navigation {
    max-width: 960px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 77px;
    margin-top: 77px;
    font-family: 'Playfair Display', sans-serif;
}
.navigation > a {
    min-width: 15%;
    display: inline-block;
    text-decoration: none;
    color: black;
}

a.active {
    color: deepskyblue;
}
.postsection {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 27px;
}
.post {
    display: inline-block;
    max-width: 415px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 132px;
}
h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 31px;
    margin-bottom: 29px;
    font-weight: 400;
}
h2 {
    font-size: 30px;
    color: #626262;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 34px;
    font-weight: 400;
}
.post > p {
    font-size: 14px;
    color: #626262;
    font-family: 'Playfair Display', sans-serif;
    height:60px;
    line-height:20px;
    overflow:hidden;
}
.all {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -78px;
}
.all > button {
    width: 164px;
    height: 60px;
    font-size: 20px;
    color: #626262;
    background-color: transparent;
    border: 1px solid #626262;
    font-family: 'Playfair Display', sans-serif;
}