* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

/* header */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 28px 3px 127px 3px;
}
.header img {
  width: 79px;
}
.nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  margin-left: 40px;
  line-height: 28px;
}
.nav__link:hover {
  color: #fed136;
}

/* services */
h2 {
  font-family: "Montserat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  font-size: 40px;
  padding-bottom: 19px;
}
h3 {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 16px;
  color: #777777;
  padding-bottom: 80px;
}
.services-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 120px;
}
.services-item {
  max-width: 274px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.services-image {
  border: 4px solid #fed136;
  height: 67px;
  width: 66px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-image img {
  width: auto;
}

.services-title {
  font-family: "Montserat", sans-serif;
  font-weight: 700;
  color: #222222;
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 28px;
}
.services-description {
  font-family: "roboto-slab";
  font-size: 14px;
  color: #838383;
}

/* contact form */
footer {
  height: 677px;
  width: auto;
  background-color: #222222;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: 100% 120px;
}
.form {
  padding-top: 110px;
}
.form h2 {
  color: #ffffff;
}

form h2, .form h3 {
  width: 100%;
}
.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.form-left {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
}
.row {
  height: 50px;
  font-family: "montserat", sans-serif;
  font-size: 14px;
  color: #bbbbbb;
  padding-left: 20px;
  font-weight: 700;
}
.row:not(:last-child) {
  margin-bottom: 30px;
}
.row::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
.form-right {
  width: calc(50% - 15px);
}
textarea {
  width: 100%;
  height: 210px;
  font-family: "montserat", sans-serif;
  font-size: 14px;
  color: #bbbbbb;
  padding: 20px 0 0 20px;
  font-weight: 700;
  resize: none;
}
textarea::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
textarea:focus, input:focus {
  outline: none;
}
textarea:valid, input:valid {
  border: 2px solid green;
}
textarea:invalid, input:invalid {
  border: 2px solid red;
}
.button-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.button-wrapper button {
  font-family: "montserat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  padding: 26px 47px;
}
